<div class="main-content" >
    <div class="container-fluid">
        <div class="row">            
            <div class="col-lg-4">
                <div class="card card-user">
                    <div class="content">
                        <div class="author">
                            <a >
                                <img class="avatar border-gray" src="assets/img/faces/face-0.jpg" alt="..."/>
                                <h4 class="title">Nombre Completo<br />
                                </h4>
                            </a>
                            <a >
                                <img class="avatar border-gray" src="assets/img/faces/face-0.jpg" alt="..."/>
                                <h4 class="title">Foto de automovil<br />
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card">
                    <div class="header">
                        <h3 class="title">Datos Personales</h3>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Nombre Completo</label>
                                        <h5>Cinthia Vanessa Merida Lafuente</h5>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Departamento</label>
                                        <h5>Santa Cruz</h5>                                    
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <h5>Quillacollo</h5>                                    
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Nacimiento</label>
                                        <h5>22/02/1995</h5>                                    
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Direccion</label>
                                        <h5>Rafael Pavon entre Rene Crespo y Ricotoro n140</h5>                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>N Telefono</label>
                                        <h5>4361298 - 4260217</h5>                                    
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>N Celular</label>
                                        <h5>74767450 - 60735250</h5>                                    
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="header">
                            <h3 class="title">Datos Autmovil</h3>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Marca</label>
                                        <h5>Toyota</h5> 
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Año</label>
                                        <h5>2003</h5> 
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Modelo</label>
                                        <h5>Subaru XXXXXXXXXX</h5>                                        
                                    </div>
                                </div>  
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Placa</label>
                                        <h5>XXXXXXXXXX</h5>                                        
                                    </div>
                                </div> 
                            </div>    
                        </form>
                    </div>
                    <div class="header">
                        <h3 class="title">Datos Cuenta</h3>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <h5>Toyota</h5> 
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label>PAssword</label>
                                        <h5>xxxxxx</h5> 
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Fecha-creacion</label>
                                        <h5>16/03/2018</h5>                                        
                                    </div>
                                </div>  
                            </div>    
                            <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
